
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<a href="~/PRODUTO/Buscar?prd=1">PRODUTO 1</a>
<br>
<a href="~/PRODUTO/Buscar?prd=2">PRODUTO 2</a>
<br>
<a href="~/PRODUTO/Buscar?prd=5">PRODUTO 5</a>
<br>
<a href="~/PRODUTO/Buscar?prd=10">PRODUTO 10</a>

